#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.main-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.main-title {
font-size: 30px;
margin-bottom: 27px;

}

.input-container {
 margin-bottom: 18px;
}



.input {
 padding: 13px;
 width: 100%;
 border: none;
 border-radius: 10px;
 box-shadow: 0 2px 4px rgba(0,0,0,0.1);
 background-color: #295866;
}



.input::placeholder {
  color: rgba(255,255,255,0.5);
}

.weather-container 
{
 display: flex;
 justify-content: center;
}

.day-container {
margin: 18px;
padding: 6px;
width: 200px;
border-radius: 20px;
text-align: center;
border: 2px solid #ccddde;
flex-direction: column;

}

.date{
  font-size: small;
  font-weight: 400;
  
  
}

.temperature{
  font-size: x-large;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;

}

.weather-icon{
  height: 100px;

}